@import "./variable.scss";
@import "./reset.scss";
html {
  scroll-behavior: smooth;
  user-select: none;
}

* {
  scroll-behavior: smooth !important;
}

body {
  font-family: $fontRegular;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  // -ms-overflow-style: none;
  // /* IE and Edge */
  // scrollbar-width: none;
}

// body::-webkit-scrollbar {
//   display: none;
// }

.container {
  display: flex;
  background: #faf9f9;
  position: relative;
  gap: 25px;

  height: 100vh;
}

.page-view {
  background: transparent;

  overflow-x: hidden;
  width: 100%;
  height: auto;
}
