@import "../public/style/reset.scss";
@import "../public/style/variable.scss";

#homePageContainer {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cover-profil {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  flex: none;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: changeShape 10s infinite;
  border: 10px solid rgba($color: $neutral2, $alpha: 0.2);
  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.profil-infos {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  & h2 {
    font-family: $fontBold;
    font-size: 3rem;
    color: $neutral2;
    transform: translateY(40%);
  }
  & p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  & .link-social-media {
    display: flex;
    align-items: center;
    column-gap: 15px;
    & * {
      height: 25px;
      width: 25px;
      fill: $neutral2;
      transition: all 0.3s linear;
      &:hover {
        fill: rgba($neutral2, 0.8);
      }
    }
  }
}
@keyframes changeShape {
  0% {
    border-radius: 64% 36% 63% 37% / 43% 41% 59% 57%;
  }
  25% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  50% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  75% {
    border-radius: 40% 60% 60% 40% / 60% 60% 40% 40%;
  }
  100% {
    border-radius: 64% 36% 63% 37% / 43% 41% 59% 57%;
  }
}
