@import "../../public/style/reset.scss";
@import "../../public/style/variable.scss";

#PortfolioPage {
  display: flex;
  flex-direction: column;
  padding-top: $padding;
  & .content-page {
    display: flex;
    flex-direction: column;
  }
}

.section__project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media only screen and (max-width: 1400px) {
  .section__project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .section__project {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 180px !important;
  }
}
